@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color1: #140f2d;
	--color2: #0091ad;
	--color2Soft: #0090ad1b;
	--color2Shadow: #01697e;
	--color3: #f58a07;
	--color3Shadow: #c56d01;
	--color4: #d72638;
	--color-texto-dark: #131313;
	--color-texto-white: #fff4e4;
}
