@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	color: rgb(31, 41, 55);
	font-weight: 700;
	transition: all 0.3s ease-in;
}

:root {
	--color1: #140f2d;
	--color2: #0091ad;
	--color2Soft: #0090ad1b;
	--color2Shadow: #01697e;
	--color3: #ff9900;
	--color3Shadow: #2e4052;
	--color4: #db162f;
	--color-texto-dark: #131313;
	--color-texto-white: #fff4e4;
}
#bluebg {
	background-color: var(--color2Shadow);
	color: white;
	font-weight: 700;
}
.rg-button {
	position: relative;
	width: 180px;
	font-size: 13px;
	padding-left: 8px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #34974d;
	background-color: #3aa856;
}

.rg-button,
.button__icon,
.button__text {
	transition: all 0.3s;
}

.rg-button .button__text {
	color: #fff;
	font-weight: 600;
}

.rg-button .button__icon {
	position: absolute;
	transform: translateX(130px);
	height: 100%;
	width: 39px;
	background-color: #34974d;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 430px) {
	.rg-button .button__icon {
		transform: translateX(120px);
	}
}

.rg-button .svg {
	width: 30px;
	stroke: #fff;
}

.rg-button:hover {
	background: #34974d;
}

.rg-button:hover .button__text {
	color: transparent;
}

.rg-button:hover .button__icon {
	width: 160px;
	transform: translateX(0);
}

.rg-button:active .button__icon {
	background-color: #2e8644;
}

.rg-button:active {
	border: 1px solid #2e8644;
}

.Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 8px auto;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: rgb(255, 65, 65);
}
.Btn-password {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 8px auto;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: var(--color3);
}

/* plus sign */
.sign {
	width: 100%;
	transition-duration: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign svg {
	width: 17px;
}

.sign svg path {
	fill: white;
}
/* text */
.text {
	position: absolute;
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover,
.Btn-password:hover {
	width: 125px;
	border-radius: 40px;
	transition-duration: 0.3s;
}

.Btn:hover .sign {
	width: 30%;
	transition-duration: 0.3s;
	padding-left: 20px;
}
.Btn-password:hover .sign {
	width: 30%;
	transition-duration: 0.3s;
	padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-right: 10px;
}
.Btn-password:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-right: 10px;
}
/* button click effect*/
.Btn:active {
	transform: translate(2px, 2px);
}
.Btn-password:active {
	transform: translate(2px, 2px);
}

.pl {
	width: 100vw;
	height: 100vh;
	margin: 0px auto;
	position: absolute;
	z-index: 49;
	background-color: var(--color3Shadow);
	padding: 160px;
}

.pl__ring {
	animation: ringA 2s linear infinite;
}

.pl__ring--a {
	stroke: var(--color2);
}

.pl__ring--b {
	animation-name: ringB;
	stroke: #f49725;
}

.pl__ring--c {
	animation-name: ringC;
	stroke: #255ff4;
}

.pl__ring--d {
	animation-name: ringD;
	stroke: var(--color4);
}

/* Animations */
@keyframes ringA {
	from,
	4% {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -330;
	}

	12% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -335;
	}

	32% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -595;
	}

	40%,
	54% {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -660;
	}

	62% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -665;
	}

	82% {
		stroke-dasharray: 60 600;
		stroke-width: 30;
		stroke-dashoffset: -925;
	}

	90%,
	to {
		stroke-dasharray: 0 660;
		stroke-width: 20;
		stroke-dashoffset: -990;
	}
}

@keyframes ringB {
	from,
	12% {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -110;
	}

	20% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -115;
	}

	40% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -195;
	}

	48%,
	62% {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	70% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	90% {
		stroke-dasharray: 20 200;
		stroke-width: 30;
		stroke-dashoffset: -305;
	}

	98%,
	to {
		stroke-dasharray: 0 220;
		stroke-width: 20;
		stroke-dashoffset: -330;
	}
}

@keyframes ringC {
	from {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: 0;
	}

	8% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -5;
	}

	28% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -175;
	}

	36%,
	58% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	66% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	86% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -395;
	}

	94%,
	to {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -440;
	}
}

@keyframes ringD {
	from,
	8% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: 0;
	}

	16% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -5;
	}

	36% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -175;
	}

	44%,
	50% {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -220;
	}

	58% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -225;
	}

	78% {
		stroke-dasharray: 40 400;
		stroke-width: 30;
		stroke-dashoffset: -395;
	}

	86%,
	to {
		stroke-dasharray: 0 440;
		stroke-width: 20;
		stroke-dashoffset: -440;
	}
}

.btn-cta {
	padding: 1.1em 2em;
	background: none;
	border: 2px solid #fff;
	font-size: 15px;
	color: #131313;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	border-radius: 12px;
	background-color: rgb(58, 207, 58);
	font-weight: bolder;
	box-shadow: 0 2px 0 2px #000;
}

.btn-cta:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 200%;
	background-color: #ff6700;
	top: 50%;
	transform: skewX(30deg) translate(-150%, -50%);
	transition: all 0.5s;
}

.btn-cta:hover {
	background-color: #4cc9f0;
	color: #fff;
	box-shadow: 0 2px 0 2px #0d3b66;
}

.btn-cta:hover::before {
	transform: skewX(30deg) translate(190%, -50%);
	transition-delay: 0.1s;
}

.btn-cta:active {
	transform: scale(0.9);
}
