@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color1: #140f2d;
	--color2: #0091ad;
	--color2Soft: #0090ad1b;
	--color2Shadow: #01697e;
	--color3: #f58a07;
	--color3Shadow: #2e4052;
	--color4: #db162f;
	--color-texto-dark: #131313;
	--color-texto-white: #fff4e4;
}
.button {
	position: relative;
	width: 200px;
	padding-left: 8px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #34974d;
	background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
	transition: all 0.3s;
}

.button .button__text {
	color: #fff;
	font-weight: 600;
}

.button .button__icon {
	position: absolute;
	transform: translateX(150px);
	height: 100%;
	width: 39px;
	background-color: #34974d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button .svg {
	width: 30px;
	stroke: #fff;
}

.button:hover {
	background: #34974d;
}

.button:hover .button__text {
	color: transparent;
}

.button:hover .button__icon {
	width: 180px;
	transform: translateX(0);
}

.button:active .button__icon {
	background-color: #2e8644;
}

.button:active {
	border: 1px solid #2e8644;
}

.Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 8px auto;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
	width: 100%;
	transition-duration: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign svg {
	width: 17px;
}

.sign svg path {
	fill: white;
}
/* text */
.text {
	position: absolute;
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
	width: 125px;
	border-radius: 40px;
	transition-duration: 0.3s;
}

.Btn:hover .sign {
	width: 30%;
	transition-duration: 0.3s;
	padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-right: 10px;
}
/* button click effect*/
.Btn:active {
	transform: translate(2px, 2px);
}
